{
  "plugins": ["prettier-plugin-astro"],
  "printWidth": 140,
  "bracketSameLine": true,
  "htmlWhitespaceSensitivity": "ignore",
  "overrides": [
    {
      "files": "*.astro",
      "options": {
        "parser": "astro",
        "printWidth": 140,
        "bracketSameLine": true,
        "htmlWhitespaceSensitivity": "ignore"
      }
    }
  ]
}
