@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  // --darkColor: #0a0f14;
  // --lightColor: #e0e0c0;
  // --headingColor: #00ffe1;
  // --linkColor: #ffcc00;
  // --metaBlue: #88c0d0;
  // --metaColor: #999;
  // --codeColor: #ff66a1;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.2;
  font-weight: 700;
}

h1 {
  font-size: 1.8rem;
}
h2 {
  font-size: 1.5rem;
}
h3 {
  font-size: 1.3rem;
}
h4 {
  font-size: 1.1rem;
}
h5 {
  font-size: 1rem;
}
h6 {
  font-size: 0.85rem;
}

p,
ul {
  margin-bottom: 1rem;
}

body,
html {
  background-color: #fff;
  color: #000;
  height: 100%;
  font-size: 0.90rem;
  font-weight: normal;
  cursor: url("/img/assets/cursors/ufocursor.gif"), auto;
  font-family: "Source Code Pro", monospace;
  font-weight: 400;
}

.layout {
  display: flex;
  align-items: center;
  flex-direction: column;
  min-height: 100%;
}

header {
  display: flex;
  justify-content: center;
  width: 100%;
}

nav {
  width: 50%;
  margin-bottom: 2rem;
  padding: 10px 0px;
  border-bottom: 1px dashed;
  text-align: center;
  font-weight: 600;
}

nav ul {
  padding-top: 10px 0;
  margin: 0;
}

nav ul li {
  display: inline;
  margin: 0;
}

main {
  display: flex;
  flex-direction: column;
  flex: 1 0 auto;
  width: 50%;
}

.mini-profile {
  border-top: 1px solid;
  margin: 1rem 0;
  padding: 1rem 0;
}

.terminal-box {
  margin-bottom: 2rem;
}

ul li {
  list-style-type: none;
  padding-left: 1rem;
  margin-bottom: 0.5rem;
}

ul li::before {
  content: "> ";
}

a,
a:hover,
a:visited {
  color: #FF6633;
}

a,
button,
.tab-link {
  cursor: url("/img/assets/cursors/pointer.gif"), pointer;
}

b, strong {
   font-weight: 600;
}

.prompt {
  font-weight: 600;
}

.output {
  padding-left: 1rem;
}

.output::before {
  content: "> ";
}

.connect-title {
  font-weight: 600;
}

.connect-box {
  width: 100%;
  background-color: #000;
  color: #fff;
  border: 1px solid;
  padding: 10px;
}

.socials {
  display: flex;
  gap: 2rem;
}

.social-link a {
  display: inline-flex;
  align-items: center;
  gap: 0;
  text-decoration: none;
  color: inherit;
}

.social-link img.icon {
  width: 16px;
  height: 16px;
}

.label {
  height: 24px;
  padding: 3px 5px;
  display: flex;
  align-items: center;
}

.log-entries {
  margin-top: 1rem;
}

.log-entries p {
  line-height: 1rem;
}

.log-entries p::before {
  content: "$ ";
}

.log-entries strong {
  margin-right: 1rem;
}

footer {
  background-color: transparent;
  text-align: center;
  width: 100%;
  height: 25px;
  border-top: 1px dashed;
  margin-top: 1rem;
  bottom: 0;
  position: relative;
}

@media (max-width: 768px) {
  .label {
    font-size: small;
  }
}
