---
import fs from 'node:fs/promises';
import { marked } from 'marked';

const markdown = await fs.readFile(new URL('../pages/now.md', import.meta.url), 'utf-8');
const html = marked.parse(markdown);
---
--------------------
<h1>Now</h1>
-------------------- <br>

<article class="now" set:html={html} />
