---
---
<div class="link-container">
    <h1>Links</h1>
    <p>
      On this page, I collect some links to websites whose existence I wouldn't want to forget, so I think
      it's worth sharing them online :)
    </p>
  
    <p>If you wanna exchange banners, let me know! Here are mine:</p>
  
    <p><img src="/img/banners/banner_big.png" alt="mdohr's banner (big)" /></p>
    <p><img src="/img/banners/banner_medium.png" alt="mdohr's banner (medium)" /></p>
    <p><img src="/img/banners/banner_small.png" alt="mdohr's banner (small)" /></p>
  
    <h2>Indie Web and more</h2>
    <ul>
      <li>
        <a href="http://firsttimersonly.com" target="_blank" rel="noopener noreferrer"
          >First Timers Only</a
        >
        <br />
        If you have never contributed to an open source project before and you’re just getting
        started, consider exploring these resources.
      </li>
  
      <li>
        <a href="http://fedi.directory" target="_blank" rel="noopener noreferrer">fedi.directory</a>
        <br />
        A human-curated small selection of interesting accounts to help you get started on the
        Fediverse.
      </li>
  
      <li>
        <a href="https://neocities.org/" target="_blank" rel="noopener noreferrer">Neocities</a>
        <br />
        An essential for this list - they offer static web hosting with tools and a fun community.
      </li>
    </ul>
  
    <ul>
      <li>
        <a href="https://indieweb.org/" target="_blank" rel="noopener noreferrer">indieweb.org</a>
        <br />
        Has all the information you need about the indie web.
      </li>
  
      <li>
        <a href="https://search.marginalia.nu/" target="_blank" rel="noopener noreferrer"
          >Marginalia</a
        >
        <br />
        An independent search engine that focuses on non-commercial content.
      </li>
  
      <li>
        <a href="https://wiby.org/" target="_blank" rel="noopener noreferrer">Wiby</a>
        <br />
        Another search engine: "The Wiby search engine is building a web of pages as it was in the
        earlier days of the internet."
      </li>
  
      <li>
        <a href="https://32bit.cafe/" target="_blank" rel="noopener noreferrer">32-bit cafe</a>
        <br />
        Community of website hobbyists who want to change how we live digitally and online.
      </li>
  
      <li>
        <a href="https://whimsica11y.net/" target="_blank" rel="noopener noreferrer">Whimsica11y</a>
        <br />
        Web accessibility guides and advice for personal website owners.
      </li>
  
      <li>
        <a href="https://slashpages.net/" target="_blank" rel="noopener noreferrer">Slash Pages</a>
        <br />
        A guide to common pages you can add to your website.
      </li>
    </ul>
  
    <h3>Personal websites</h3>
    <ul>
      <li>
        <a href="https://bedr00mz.neocities.org/h0me" target="_blank" rel="noopener noreferrer"
          >maya.land</a
        >
        <br />
        Bedr00mZ... you have to see it, I can't explain...
      </li>
  
      <li><a href="http://maya.land" target="_blank" rel="noopener noreferrer">maya.land</a><br />ye timeless content</li>
  
      <li><a href="http://noodledesk.net" target="_blank" rel="noopener noreferrer">noodledesk.net</a><br />welcome aboard the dreamer...</li>
  
      <li><a href="http://maria.town" target="_blank" rel="noopener noreferrer">maria.town</a><br />Site of Maria - a web developer by day and a witch by night</li>
  
      <li><a href="http://randomgeekery.org/" target="_blank" rel="noopener noreferrer">Random Geekery</a><br />Brian's collection of his attempts to improve at tech, art, and life</li>
  
      <li><a href="http://alienheadshitkid.neocities.org" target="_blank" rel="noopener noreferrer">alien head shit kid</a><br />This site is just awesome (the 3D!)</li>
  
      <li><a href="http://82mhz.net" target="_blank" rel="noopener noreferrer">82mhz.net</a><br />Andreas’ website - the place where he writes about all the things that catch his interest</li>
  
      <li><a href="http://hanki.dev" target="_blank" rel="noopener noreferrer">hanki.dev</a><br />Blog of Hannes from Finland who currently works as a mobile developer</li>
  
      <li><a href="https://pickeraparter.com" target="_blank" rel="noopener noreferrer">Picker-Aparter</a><br />Interesting personal website with a lovely retro horror theme.</li>
  
      <li><a href="https://hubbardian.neocities.org/" target="_blank" rel="noopener noreferrer">Hubbarian</a><br />One of the best looking websites I know</li>
  
      <li><a href="https://dragonquest.neocities.org/" target="_blank" rel="noopener noreferrer">Dragon Quest: The ultimate game experience</a><br />Fun! Go click :-)</li>
    </ul>
  
    <h2>Pixel Art</h2>
    <ul>
      <li>
        <a href="https://2dwillneverdie.com/" target="_blank" rel="noopener noreferrer">2D will never die</a>
        <br />
        Website dedicated to pixel art, has tutorials too, and has an amazing retro look.
      </li>
  
      <li>
        <a href="https://www.spriters-resource.com/" target="_blank" rel="noopener noreferrer"
          >The Spriters Resource</a
        >
        <br />
        A site dedicated to the collection, archival, and appreciation of materials from video
        games, and the best thing (according to me) are the sprite sheets.
      </li>
    </ul>
  
    <hr />
  
    <p style="text-align: center;">
      <a href="https://xn--sr8hvo.ws/previous"><button>←</button></a>
      <a href="https://xn--sr8hvo.ws"><button>An IndieWeb Webring</button></a>
      <a href="https://xn--sr8hvo.ws/next"><button>→</button></a>
    </p>
  
    <p style="text-align: center;">
      <a href="https://webring.dinhe.net/prev/https://mdohr.space"><button>←</button></a>
      <a href="https://webring.dinhe.net"><button>The retronaut webring</button></a>
      <a href="https://webring.dinhe.net/next/https://mdohr.space"><button>→</button></a>
    </p>
  </div>
  