---

---

<div>

    <!-- Start: Terminal -->
    <img src="/icons/waving.png" alt="a cute little pixel art alien is waving at you" style="margin-bottom: -22px; margin-left: 87%;">
    <div class="mt-6 p-4 standard-border text-xs">

        <div class="flex items-center mb-2">
            <span class="text-primary mr-2">$</span>
            <span class="text-gray-100">npx connect</span>
        </div>

        <div class="mt-2 text-gray-400">
            Initializing...
            <br />
            Ready to connect.
            <br />
            Waiting for contact request...
        </div>

    </div>
    <!-- End: Terminal -->

    <!-- Start: Social Links -->
  <div class="socials">
  <a href="https://mdohr.space" class="social-link">
    <span class="label">Blog</span>
    <img src="quote-right-solid.svg" alt="Blog Icon" class="icon" />
  </a>
  <a href="https://github.com/mdohr07" class="social-link">
    <span class="label">GitHub</span>
    <img src="github-alt-brands-solid.svg" alt="GitHub Icon" class="icon" />
  </a>
  <a href="mailto:mdohr07@gmail.com" class="social-link">
    <span class="label">Mail</span>
    <img src="at-solid.svg" alt="Email Icon" class="icon" />
  </a>
</div>

</div>
