---
---
  
<h1>SITE CONFIGURATION</h1>

<table>
  <thead>
    <tr><th colspan="2">hardware: training</th></tr>
  </thead>
  <tbody>
    <tr><td>model</td><td>= Lenovo ThinkBook 21DJ (Windows 11 Pro)</td></tr>
    <tr><td>input</td><td>= Cherry keyboard</td></tr>
    <tr><td>display</td><td>= Fujitsu B23T-7</td></tr>
  </tbody>

  <thead>
    <tr><th colspan="2">hardware: home</th></tr>
  </thead>
  <tbody>
    <tr><td colspan="2">coming soon...</td></tr>
  </tbody>

  <thead>
    <tr><th colspan="2">software</th></tr>
  </thead>
  <tbody>
    <tr><td>editor</td><td>= VS Code</td></tr>
    <tr><td>terminal</td><td>= Bash / Powershell</td></tr>
    <tr><td>browser</td><td>= Firefox</td></tr>
    <tr><td>stack</td><td>= HTML, CSS (SCSS), JavaScript, Astro</td></tr>
    <tr><td>backend</td><td>= ?</td></tr>
    <tr><td>versioning</td><td>= Git &amp; GitHub</td></tr>
    <tr><td>deployment</td><td>= GitHub Pages x Netlify</td></tr>
  </tbody>

  <thead>
    <tr><th colspan="2">site</th></tr>
  </thead>
  <tbody>
    <tr><td>built_with</td><td>= Astro</td></tr>
    <tr><td>theme</td><td>= based on a template by <a href="https://devidev.io/" target="_blank" rel="noopener noreferrer">Dejan Vintonjiv</a></td></tr>
    <tr><td>mods</td><td>= layout, colors, content, Markdown log, JS extras</td></tr>
  </tbody>

  <thead>
    <tr><th colspan="2">other</th></tr>
  </thead>
  <tbody>
    <tr><td>music</td><td>= synthwave, game OSTs</td></tr>
  </tbody>
</table>

  
